.scrollbar-thin {
  scrollbar-width: thin;  /* Firefox */
  scrollbar-color: rgba(121, 121, 121, 0.5) transparent;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(121, 121, 121, 0.5);
  border-radius: 4px;
}

/* Remove os botões de seta */
.scrollbar-thin::-webkit-scrollbar-button {
  display: none;
}

.scrollbar-thin::-webkit-scrollbar-corner {
  background: transparent;
} 